{% extends 'base.html' %}

{% load static %}

{% block contenido %}

<section class="container my-5">

    <div class="text-center mb-5">

        <h2 class="fw-bold">
            Nuestros Clientes
        </h2>

        <p class="text-muted">

            Empresas que han confiado en nuestros servicios.

        </p>

    </div>



    <!-- CLIENTES -->

    <div class="row g-4">


        <!-- CLIENTE 1 -->

        <div class="col-md-3">

            <div class="card shadow border-0 text-center p-4 h-100 cliente-card">

                <img src="{% static 'img/nestleee.png' %}"
                     class="img-fluid logo-cliente">

            </div>

        </div>



        <!-- CLIENTE 2 -->

        <div class="col-md-3">

            <div class="card shadow border-0 text-center p-4 h-100 cliente-card">

                <img src="{% static 'img/Pfizer.png' %}"
                     class="img-fluid logo-cliente">

            </div>

        </div>



        <!-- CLIENTE 3 -->

        <div class="col-md-3">

            <div class="card shadow border-0 text-center p-4 h-100 cliente-card">

                <img src="{% static 'img/cocacola.png' %}"
                     class="img-fluid logo-cliente">

            </div>

        </div>



        <!-- CLIENTE 4 -->

        <div class="col-md-3">

            <div class="card shadow border-0 text-center p-4 h-100 cliente-card">

                <img src="{% static 'img/HENKEL.png' %}"
                     class="img-fluid logo-cliente">

            </div>

        </div>



        <!-- CLIENTE 5 -->

        <div class="col-md-3">

            <div class="card shadow border-0 text-center p-4 h-100 cliente-card">

                <img src="{% static 'img/arabela.png' %}"
                     class="img-fluid logo-cliente">

            </div>

        </div>



        <!-- CLIENTE 6 -->

        <div class="col-md-3">

            <div class="card shadow border-0 text-center p-4 h-100 cliente-card">

                <img src="{% static 'img/sodexo.png' %}"
                     class="img-fluid logo-cliente">

            </div>

        </div>



        <!-- CLIENTE 7 -->

        <div class="col-md-3">

            <div class="card shadow border-0 text-center p-4 h-100 cliente-card">

                <img src="{% static 'img/dysal.png' %}"
                     class="img-fluid logo-cliente">

            </div>

        </div>



        <!-- CLIENTE 8 -->

        <div class="col-md-3">

            <div class="card shadow border-0 text-center p-4 h-100 cliente-card">

                <img src="{% static 'img/alsea.jpg' %}"
                     class="img-fluid logo-cliente">

            </div>

        </div>

    </div>

</section>

{% endblock %}