{% extends 'base.html' %}

{% load static %}

{% block contenido %}

<section class="container my-5">



    <!-- cards -->
     <!-- ===================================================== -->
<!-- SERVICIOS -->
<!-- ===================================================== -->

<section id="servicios"
         class="container my-5">


    <div class="text-center mb-5">

        <h2 class="fw-bold">

            Nuestros servicios

        </h2>


        <p class="text-muted">

            Soluciones industriales y electromecánicas
            especializadas.

        </p>

    </div>



    <div class="row g-4">


        <!-- SERVICIO 1 -->

        <div class="col-md-4">

            <div class="card shadow border-0 h-100">

                <img src="{% static 'img/electricas.jpeg' %}"
                     class="card-img-top"
                     style="height:250px;
                            object-fit:cover;">


                <div class="card-body">

                    <h5 class="fw-bold">

                        Instalaciones eléctricas

                    </h5>


                    <p class="text-muted">

                        Cableado industrial, tableros eléctricos,
                        alumbrado, subestaciones y mantenimiento.

                    </p>

                </div>

            </div>

        </div>



        <!-- SERVICIO 2 -->

        <div class="col-md-4">

            <div class="card shadow border-0 h-100">

                <img src="{% static 'img/industrial.jpeg' %}"
                     class="card-img-top"
                     style="height:250px;
                            object-fit:cover;">


                <div class="card-body">

                    <h5 class="fw-bold">

                        Mantenimiento industrial

                    </h5>


                    <p class="text-muted">

                        Reparación, supervisión y mantenimiento
                        preventivo y correctivo de maquinaria industrial.

                    </p>

                </div>

            </div>

        </div>



        <!-- SERVICIO 3 -->

        <div class="col-md-4">

            <div class="card shadow border-0 h-100">

                <img src="{% static 'img/automatizacion.jpeg' %}"
                     class="card-img-top"
                     style="height:250px;
                            object-fit:cover;">


                <div class="card-body">

                    <h5 class="fw-bold">

                        Automatización industrial

                    </h5>


                    <p class="text-muted">

                        Optimización de procesos industriales mediante
                        tecnología y control automatizado.

                    </p>

                </div>

            </div>

        </div>

        

        <!-- SERVICIO 4 -->

        <div class="col-md-4">

            <div class="card shadow border-0 h-100">

                <img src="{% static 'img/montaje.jpeg' %}"
                     class="card-img-top"
                     style="height:250px;
                            object-fit:cover;">


                <div class="card-body">

                    <h5 class="fw-bold">

                        Maniobras y montajes

                    </h5>


                    <p class="text-muted">

                        Ensamble de líneas de producción,
                        montajes y maniobras industriales.

                    </p>

                </div>

            </div>

        </div>



        <!-- SERVICIO 5 -->

        <div class="col-md-4">

            <div class="card shadow border-0 h-100">

                <img src="{% static 'img/obra.jpeg' %}"
                     class="card-img-top"
                     style="height:250px;
                            object-fit:cover;">


                <div class="card-body">

                    <h5 class="fw-bold">

                        Obra civil

                    </h5>


                    <p class="text-muted">

                        Remodelaciones, impermeabilización,
                        reparaciones y mantenimiento general.

                    </p>

                </div>

            </div>

        </div>



        <!-- SERVICIO 6 -->

        <div class="col-md-4">

            <div class="card shadow border-0 h-100">

                <img src="{% static 'img/aireacon.jpeg' %}"
                     class="card-img-top"
                     style="height:250px;
                            object-fit:cover;">


                <div class="card-body">

                    <h5 class="fw-bold">

                        Aires acondicionados

                    </h5>


                    <p class="text-muted">

                        Mantenimiento e instalación de minisplits,
                        chillers y manejadoras de aire.

                    </p>

                </div>

            </div>

        </div>

    </div>

</section>

</section>

{% endblock %}